html {
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

hr {
    color: darkgrey;
}
.navbar {
    background-color: whitesmoke;
    color: black;
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 5px 5px;
}
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    font-size: 17px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.navbar a.active {
    background-color: gainsboro;
    color: black;
}
.navbar a.title {
    background-color: whitesmoke;
    color: black;
    float: left;
}
.navbar a:hover {
    background-color: lightgray;
    color: black;
}
.navbar a.active:hover {
    background-color: gray;
}

.sponsor {
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-align: center;
}
.sponsor img {
    width: 30vw;
    height: auto;
}
.sponsor img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.sponsor-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logocentre {
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
    width: 60vw;
}
.container {
    padding: 20px;
    display: flex;
}

.footer {
    padding: 20px;
    background-color: whitesmoke;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.footer a {
    color: white;
    background-color: rgb(134, 80, 9);
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
    width: auto;
    height: 30px;
    padding: 10px;
}

.footer a:hover {
    transform: scale(1.15);
    transition: transform 0.3s;
}
.footer a img {
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}

.socials {
    width: 25vw;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: row;
}
.container img {
    max-width: 30vw;
    margin-right: 10vw;
    height: 50vh;
    width: auto;
    margin-left: 5vw;
}